@import "copic";

body {
  background: #f3f3f3; /* Old browsers */
  background: -moz-linear-gradient(left, #f3f3f3 0%, #ffffff 50%, #f3f3f3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f3f3f3 0%,#ffffff 50%,#f3f3f3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f3f3f3 0%,#ffffff 50%,#f3f3f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f3f3f3',GradientType=1 ); /* IE6-9 */
  font-family: ibm-plex-sans;
}

a {
  outline: none;
}

.fs-10 { font-size: 10px !important; }
.fs-12 { font-size: 12px !important; }
.fs-13 { font-size: 13px !important; }
.fs-15 { font-size: 15px !important; }
.fs-18 { font-size: 18px !important; }

.txt-justify { text-align: justify;}
.txt-right { text-align: right;}
.txt-center { text-align: center;}

.txt-red { color: $CR39; &:hover {  color: $CR39; } }
.txt-white { color: #fff; &:hover {  color: #fff; } }
.bg-red { background-color: $CR39; &:hover {  background-color: $CR39; } }
.txt-grey { color: $CN6; }

.serif { font-family: ibm-plex-serif; }
.bold { font-weight: bold; }

.w100 { width: 100%; }
.w20p { width: 20px; }
.w50p { width: 50px; }
.w100p { width: 100px; }
.w350p { width: 350px; }
.w400p { width: 400px; }

.h15p { height: 15px; }
.h30p { height: 30px; }
.h45p { height: 45px; }

.pt20 { padding-top: 20px; }
.pb20 { padding-bottom: 20px; }
.pl10 { padding-left: 10px; }
.pr10 { padding-right: 10px; }
.pl15 { padding-left: 15px; }
.pr15 { padding-right: 15px; }
.pa10 { padding: 10px; }

.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mb10 { margin-bottom: 10px; }
.ml20 { margin-left: 20px; }

.br10 { border-radius: 10px; }

.ib { display: inline-block; }
.oh { overflow: hidden; }

.pointer { cursor: pointer; }

.round-button {
  font-size: 12px;
  display: inline-block;
  width: 70px;
  text-align: center;
  i {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    padding: 8px 0;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    transition: all .2s ease-in-out;
  }
  
  &:hover {
    text-decoration: none;
  }

  &.blue {
    color: $CB06;
    i {
      background-color: $CB06;
      color: #fff;
      
    }
    &:hover {
      i {
        background-color: darken($CB06, 10);
      }
    }
  }

  &.green {
    color: $CG05;
    i {
      background-color: $CG05;
      color: #fff;
      
    }
    &:hover {
      i {
        background-color: darken($CG05, 10);
      }
    }
  }

}