@import "copic";

body {
  background-color: #fafafa;
  font-family: ibm-plex-sans;
}

.fs-10 { font-size: 10px !important; }
.fs-12 { font-size: 12px !important; }
.fs-13 { font-size: 13px !important; }
.fs-15 { font-size: 15px !important; }
.fs-18 { font-size: 18px !important; }

.txt-justify { text-align: justify;}
.txt-right { text-align: right;}
.txt-center { text-align: center;}

.txt-red { color: $CR39; &:hover {  color: $CR39; } }

.serif { font-family: ibm-plex-serif; }
.bold { font-weight: bold; }

.w100 { width: 100%; }
.w20p { width: 20px; }
.w50p { width: 50px; }
.w100p { width: 100px; }
.w400p { width: 400px; }

.mt10 { margin-top: 10px; }
.mb10 { margin-bottom: 10px; }
.ml20 { margin-left: 20px; }

.ib { display: inline-block; }

.pointer { cursor: pointer; }